/*.HomeDiv {*/
/*    display: inline-block;*/
/*    flex: 1 ;*/
/*}*/
.wrap {
    width: 100%;
    overflow: auto;
    height: 100%;
}

.fleft {
    float:left;
    width: 70%;
    height: 100%;
}

.fright {
    float: right;
    background:pink;
    width: 30%;
    height: 100%;
}
