.batch{
    display: flex;
    flex-direction: row;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;

    justify-content: space-between;
    margin: 10px;
    font-size: 1.2em;
    text-transform: capitalize;
}


.batch-field-names{
    font-weight: bold;
    padding-right:15px;
    text-align: left;
}
.batch-field-values{
    padding-left:15px;
    font-weight: normal;
    text-align: right;
}
