
.wrapper-search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: f4f4f4;
}

.FilterableLocationTableDiv{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
