.eventTable {
    float: left;
   
}

.ReactTable .rt-thead .rt-tr {
    text-align: left;
}

.ReactTable {
    flex: 2;
}


.ReactTable .rt-tbody .rt-td {
    font: caption;
    font-family: montserrat;
    font-size: medium;
}

.ReactTable .rt-thead .rt-resizable-header-content {
    font-family: montserrat;
}

.ReactTable .rt-tr {
    border-bottom: 1px medium gray;
    border-collapse: collapse;
}

.ReactTable .rt-td {
    border-right: 0px none;
    border-left: 0px none;
}

.ReactTable .rt-th, .ReactTable .rt-td {
    padding: 10px 5px;
}