
.wrapper-search-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper-search-bar > *{
  padding-left: 10px;
  padding-right: 10px;
}
.FilterableLocationTableDiv{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.add-location-button{
  display: flex;
}

.search-bar{
  display: flex;
}
