#root {
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}


.App {
    text-align: center;
}

.mainArea {
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
}
