

#root {
    display: flex;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    overflow: auto;
}



.App {
    text-align: center;
}

.mainArea {
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
}
