.page-content{
  display: flex;
  flex-direction: row;
  padding: 2.5%;
}

.location-table-wrapper {
  display: flex;
  flex-grow: 1;
  font-family: montserrat, sans-serif;
  font-weight: lighter;
}

.location-table {
  padding-top: 2.5%;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5%;
  flex-grow: 0.65%;
}

.picture{
  display: flex;
}
